/* 
    Document   : haltertop
    Created on : Apr 28, 2011, 3:37:19 PM
    Author     : justin
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body {
    background-image: url('../images/background.jpg');
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

nav {
  float: right;
  padding: 0;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0;
}

root { 
    display: block;
}