@font-face { font-family: Delicious; src: url('Delicious-Roman.otf'); }
@font-face { font-family: Delicious; font-weight: bold; src: url('Delicious-Bold.otf'); }

body {
    padding: 0px;
    margin: 0px;
    background-color: #555;
}

/* Header */

header {
    background-color: #aaa;
    width: 100%;
    height: 48px;
    margin-top: 0px;
    padding-top: 0px;

    /*
    -moz-box-shadow: 0 5px 250px 25px #aaa;
    -webkit-box-shadow: 0 5px 250px 20px #aaa;
    box-shadow: 0 5px 250px 20px #aaa;
    */
    -moz-box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
}

header img {
  padding: 0;
  margin: 0;
}

/* Content */

.container {
  width: 720px;
  position:absolute;
  left:50%;
  margin-left: -360px;
  margin-top: 0px;
  padding: 0px;
}

section {
  margin-top: 25px;
  font-size: 120%;
  font-family: Delicious, sans-serif;
  padding: 5px 10px 15px 15px;
  background-color: #fff;
  -moz-box-shadow: 0 0 25px #000;
  -webkit-box-shadow: 0 0 25px #000;
  box-shadow: 0 0 25px #000;
  overflow: auto;
}

section h1 {
  font-size: 150%;
}

/* Footer */

footer {
  text-align: center;
  width: 720px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

footer nav {
  float: none;
}



.round {
    -moz-border-radius:    5px;
    -webkit-border-radius:  5px;
    border-radius:       5px;
}

/* Navigation */

nav {
  text-align: center;
  padding: 0 0.7em;
  white-space: nowrap;
  color: #fff;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0;
  margin: 8px 0 0 0;
  vertical-align: top;
}

nav ul li img {
  padding: 0;
  margin: 0;
  margin-right: 50px;
  vertical-align: top;
}

.sidebar {
    float:right;
    border-left: solid 1px #000;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    margin-left: 15px;
    width: 250px;
}

.userbar {
    margin-top: 10px;
    text-align: left;
}

.userbar img {
    float: left;
    margin-right: 15px;
}

.userbar .small {
    font-size: 12pt;
    padding: 0;
}

.light {
    color: #bbb;
}

.red {
    color: #a00;
}

.button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
    text-decoration: none;
}
.button:active {
    position: relative;
    top: 1px;
}

.medium {
    font-size: 12px;
    padding: .4em 1.5em .42em;
}
.small {
    font-size: 11px;
    padding: .2em 1em .275em;
}

.orange {
    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
    background: #f47c20;
    background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
    background: -moz-linear-gradient(top,  #f88e11,  #f06015);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
    color: #fcd3a5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
    background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

.gray {
    color: #e9e9e9;
    border: solid 1px #555;
    background: #6e6e6e;
    background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
    background: -moz-linear-gradient(top,  #888,  #575757);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
}
.gray:hover {
    background: #616161;
    background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
    background: -moz-linear-gradient(top,  #757575,  #4b4b4b);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
}
.gray:active {
    color: #afafaf;
    background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
    background: -moz-linear-gradient(top,  #575757,  #888);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
}

.white {
    color: #606060;
    border: solid 1px #b7b7b7;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
    background: -moz-linear-gradient(top,  #fff,  #ededed);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.white:hover {
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
    background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.white:active {
    color: #999;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
    background: -moz-linear-gradient(top,  #ededed,  #fff);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}

.black {
	color: #d7d7d7;
	border: solid 1px #333;
	background: #333;
	background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
	background: -moz-linear-gradient(top,  #666,  #000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}
.black:hover {
	background: #000;
	background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
	background: -moz-linear-gradient(top,  #444,  #000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000');
}
.black:active {
	color: #666;
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#444));
	background: -moz-linear-gradient(top,  #000,  #444);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#666666');
}

/* game list */

ul.game_list {
    margin: 0px;
    padding: 0px;
}

li.versus {
    position: relative;
    list-style-type: none;
    height: 48px;
    width: 100%;
    margin: 10px 0;
    border: 1px black solid;
    clear-after: both;
}

div.left {
    float: left;
    background-image: url('../images/css/black.png');
    background-repeat: repeat-x;
    color: #fff;
    width: 50%;
    height: 48px;
}

div.left img {
    float: left;
}

li.versus p {
   margin: 0;
   padding-top: 5px;
   padding-bottom: 0;
   padding-left: 60px;
   padding-right: 60px;
}

div.right {
    float: right;
    background-image: url('../images/css/white.png');
    background-repeat: repeat-x;
    color: #000;
    text-align: right;
    width: 50%;
    height: 48px;
}

div.right img {
    float: right;
}

li.versus .center {
    position: absolute;
    width: 128px;
    left: 50%;
    top: 8px;
    margin-left: -64px;
    text-align: center;
}

/*

Game Page

*/

div.player {
    border: 1px black solid;
    margin-bottom: 15px;
    margin-top: 10px;
    height: 48px;
}

div.player p {
    margin-top: 5px;
    padding-left: 60px;
    padding-right: 60px;
}

div.player span {
    font-size: 8pt;
}

div.black {
    background-image: url('../images/css/black.png');
    background-repeat: repeat-x;
    color: #fff;
}

div.black img {
    float: left;
}

div.white {
    background-image: url('../images/css/white.png');
    background-repeat: repeat-x;
    color: #000;
    text-align: right;
}

div.white img {
    float:right;
}

div.game {
    display: none;
    padding: 0px;
    margin: 0px;
}

div.status {
    border: 1px black solid;
    float: right;
    height: 510px;
    width: 165px;
    padding: 0px;
    margin: 0px;

    background-image: url('../images/css/top.png');
    background-repeat: repeat-x;
    background-color: #fff;
}

div.status ul {
    padding-left: 25px;
}

div.status li {
    list-style-type:decimal;
    margin-left: 17px;
}

ul#move_list li {
    font-family: Delicious;
    font-size: 12pt;
}

div.status h3 {
    margin-top: 5px;
    text-align: center;
    color: #fff;
}

.sm_round {
    -moz-border-radius:    3px;
    -webkit-border-radius:  3px;
    border-radius:       3px;
}

#black-move, #white-move {
    diplay: none;
}

.actions {
    margin-top: 25px;
}

div.user {
    font-size: 150%;
}

div.user p {
    padding-left: 65px;
}

div.user img {
    float:left;
}

div#quicklogin {
    float:right;
    border-left: solid 1px #000;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    margin-left: 15px;
}

/* Forms */

input, textarea {
    padding: 9px;
    border: solid 1px #E5E5E5;
    outline: 0;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    width: 200px;
    background: #FFFFFF left top repeat-x;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}

textarea {
    width: 400px;
    max-width: 400px;
    height: 150px;
    line-height: 150%;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
    border-color: #C9C9C9;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}

.form label {
    margin-left: 10px;
    color: #999999;
}

.field {
    color: #222;
}

.field_with_errors {
    color: red;
}