/*
    Document   : haltertop
    Created on : Apr 28, 2011, 3:37:19 PM
    Author     : justin
    Description:
        Purpose of the stylesheet follows.
*/

body {
    padding: 0px;
    margin: 0px;
    background-color: #555;
}

/* Header */

header {
    background-image: url('../images/css/black.png');
    background-repeat: repeat-x;
    width: 100%;
    height: 48px;
    margin-top: 0px;
    padding-top: 0px;
}

header img {
  padding: 1em;
  background: #fff;
}

/* Content */

.container {
  width: 720px;
  position:absolute;
  left:50%;
  margin-left: -360px;
  margin-top: 0px;
  padding: 0px;
}

section {
  margin-top: 10px;
  font-size: 120%;
  padding: 15px;
}

section h1 {
  font-size: 150%;
}

/* Footer */

footer {
  text-align: center;
  width: 720px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

footer nav {
  float: none;
}



.round {
    -moz-border-radius:    5px;
    -webkit-border-radius:  5px;
    border-radius:       5px;
}

/* Links */

a {
  color: #222;
  text-decoration: none;
}

a:hover {
  color: #888;
  text-decoration: underline;
}

a:visited {
  color: #222;
}

/* Navigation */

nav {
  text-align: center;
  padding: 0 0.7em;
  white-space: nowrap;
  color: #fff;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
  color: #FFF;
  border-left:1px solid #fff;
  text-align: center;
}

nav ul li a:visited {
  color: #FFF;
}

nav ul li a:hover {
  color: #CCC;
  background-color: #399;
  text-decoration: underline;
}

/* Sign up button */

a.signup_button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align:center;
    width: 190px;
    color: #fff;
    background: #006400;
    font-size: 150%;
    font-weight: bold;
    padding: 20px;
}

/*

Game Page

*/

div.player {
    border: 1px black solid;
    margin-bottom: 15px;
    margin-top: 10px;
    height: 48px;
}

div.player p {
    margin-top: 5px;
    padding-left: 60px;
    padding-right: 60px;
}

div.player span {
    font-size: 8pt;
}

div.black {
    background-image: url('../images/css/black.png');
    background-repeat: repeat-x;
    color: #fff;
}

div.black img {
    float: left;
}

div.white {
    background-image: url('../images/css/white.png');
    background-repeat: repeat-x;
    color: #000;
    text-align: right;
}

div.white img {
    float:right;
}

div.game {
    display: none;
    padding: 0px;
    margin: 0px;
}

div.status {
    border: 1px black solid;
    float: right;
    height: 512px;
    width: 150px;
    padding: 0px;
    margin: 0px;

    background-image: url('../images/css/top.png');
    background-repeat: repeat-x;
    background-color: #fff;
}

div.status ul {
    padding-left: 25px;
}

div.status li {
    list-style-type:decimal;
    margin-left: 0px;
    font-size: 10pt;
}

div.status h3 {
    margin-top: 5px;
    text-align: center;
    color: #fff;
}

.sm_round {
    -moz-border-radius:    3px;
    -webkit-border-radius:  3px;
    border-radius:       3px;
}

#black-move, #white-move {
    diplay: none;
}