<h1>Settings</h1>
<%= render 'shared/full_user_form', :button_text => "Save Changes" %>

<% if not @user.facebook? %>

<div>
  <%= image_for @user %>
  <a href="http://gravatar.com/emails">change</a>
</div>

<% end %>