<div class="sidebar">
  <%= render 'shared/user_bar' %>
</div>

<div>
  <h3><% if current_user?(@user) %>Your <% end %>Matches</h3>
  <% if @user.games.empty? %>
  <p>You currently have <strong>0</strong> matches. <%= link_to "Play Now", play_path, :class => "button orange" %></p>
  <% else %>
  <%= render :partial => "shared/game_list", :locals => { :games => @user.games } %>
  <% end %>
</div>
