<div class="user">
  <%= image_tag 'icon.png', :class => 'sm_round' %>
  <p><%= @user.name %></p>
</div>
<div>
  <h3>Matches</h3>
  <%= render :partial => 'shared/game_list', :locals => { :games => @user.games } %>
</div>
