<!-- Menu shown to guests who are not logged in -->
<li><%= link_to "Get Started", root_path, :class => "button gray medium" %></li>
<li><%= link_to "Sign In", signin_path, :class => "button orange medium" %></li>