<%= render "shared/facebook_form" %>

<div style="height: 1px; background-color: black; text-align: center; margin-top: 15px; margin-bottom: 10px;">
  <span style="background-color: #f7f7f7; position: relative; top: -0.5em; padding: 0 3px 0;">
    OR
  </span>
</div>

<%= render "shared/min_user_form" %>

<p class="medium">Already have a password account?<br/><%= link_to "sign in here", signin_path %></p>