<div class="userbar">
  <%= render :partial => 'users/user_box', :locals => { :user => current_user } %>
  <p>Played: <%= pluralize(current_user.games.count, "match") %></p>
  <p>Friends:</p>
  <ul class="friend_list">
  <% @friends.each do | f | %>
    <li><%= link_to f do %><%=  image_for f %><% end %></li>
  <% end %>
  </ul>
</div>