<!-- Menu shown to logged in users -->
<li><%= link_to "New Match", play_path, :class => "button orange medium" %></li>
<li><%= link_to "Current Matches", user_path(current_user), :class => "button gray medium" %></li>
<li><%= link_to "Settings", edit_user_path(current_user), :class => "button gray medium" %></li>
<li><%= link_to "Logout", signout_path, :class => "button gray medium" %></li>