<!-- Menu shown to logged in users -->
<li><span id="menu_feed">Feed</span></li>
<li><span id="menu_games">Games</span></li>
<li><span id="menu_settings">Settings</span></li>
<li><span id="menu_logout">Logout</span></li>