<!-- Menu shown to logged in users -->
<li><%= link_to "Home", root_path %></li>
<li><%= link_to "Profile", user_path(current_user) %></li>
<li><%= link_to "Settings", edit_user_path(current_user) %></li>
<li><%= link_to "Logout", signout_path %></li>