<div class="player black sm_round" id="black">
  <%= image_for @game.black %>
  <p><span id="black-name"><%= (@game.black.nil?) ? "Awaiting Player" : (current_user? @game.black) ? "You" : @game.black.name %></span><br/>
    <span id="black-move"><%= (@game.winner? @game.black) ? "Winner" : "Current Move" %></span></p>
</div>