<div class="player white sm_round" id="white">
  <%= image_for @game.white %>
  <p><span id ="white-name"><%= (@game.white.nil?) ? "Awaiting Player" : (current_user? @game.white) ? "You" : @game.white.name %></span><br />
    <span id="white-move"><%= (@game.winner? @game.white) ? "Winner" : "Current Move" %></span></p>
</div>