<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Blog", '#' %></li>
      <li><%= link_to "Twitter", "https://twitter.com/#!/Behindcurtain3" %></li>
    </ul>
  </nav>
</footer>