<header>
  <% unless signed_in? %>
  <div id="small_signin">
  <%= render 'shared/signin' %>
  </div>
  <% else %>
  <nav class="round">
    <ul>
      <%= render 'shared/user_menu' %>
    </ul>
  </nav>
  <% end %>
</header>